.photovue{
position:relative;
bottom:100px;

}
.centerInfo{
  position:relative;
  right:40px;
  bottom:20px;
}
/*Vu-id*/

.navbarTitle{
  font-size: 40px;
}
.navbarTitle:hover{
  text-decoration-line: none;
  color:rgb(184, 184, 240);
  
}
/* Specific classes / Ids */
.nodecor:hover{
  text-decoration: none;
}
#EditView{
  position: relative;
  top:75px;
  padding-right: 5%;
  margin-right:5%;
}
#ForceView{
  position: relative;
  top:50px;
  padding-right: 5%;
  margin-right:5%;
  }
#DeleteForced{
  position: relative;
  bottom:3px;
    margin-right:8%;
}
#RateForced{
  position: relative;
bottom:3px;
  margin-right:5%;
}
/*Star System */
.checked {
  color: orange;
 
}

.fa-star{
  font-size: 15px;
}

/*Search form characteristics*/
.conjuct{
position: relative;
right:20%;
}
/*SignUp Form*/
.formSignup{
  margin-top:10px;
  position:relative;
  left: 23%;
  width: 60%;

}

/*Centering posts*/
.centering{
  position:relative;
  left:20%;
}
/*Primary Post System Defer */
.wholepost{
  margin-top:10px;
position:relative;
left: 20%;
width: 60%;
}

.vlUpdated{

  border-left: 1px solid #0c7994;
  height: 200px;
  position: relative;
  bottom: 140px;
  left:100%;

}
.vl {
  border-left: 1px solid #0c7994;
  height: 200px;
  position: relative;
  bottom: 200px;
  left:100%;
}

.photo-post{
position: relative;
left: 110px;


}
.posts{
  background-color: #f3f3f3;
padding: 10px;
color: #0c7994;
height:350px;
}

.posts button{
 margin-left: 8px;
}

/*Primary Theme for website */
.primary_col{

    background-color: #186cc0;

}
.primary_col_in{

  color: #9000c9;

}
/*Navbar related designs*/
.navbar {
    min-height: 100px;
    z-index:1;
  }

  hr { display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid white;
        margin: 1em 0; 
    padding: 0; }

  .navbar-brand{
font-size: 50px;
margin-top: 0;
margin-bottom: 0;
  }

  #navbarNav{
      position: fixed;
      right:15px;
      font-size: 20px;
      
  }

.navlink{
  padding-right: 15px;
  color:white;
}  
.navlink:hover{
  color:#61acd8;
  text-decoration:none;
}
  /*Search bar*/

  .form-control:focus {
    border-color: #61acd8;
     box-shadow: 0 1px 1px  #fbfeff  inset, 0 0 3px #61acd8;
     outline: 0 none;
  
  }

  .searchBar input {
    width: 500px !important ;
    height: 40px;

  }

  .searchBar{
    position: relative;
    right:80px;
    top: 10px;
  }

    /*Content*/

    .conv{
      position:relative;
      left:10px;
    }
    .col-sm {
        height: 130px;
        padding-top: 20px;
        background-color: #06beaf;
        margin-right: 20px;
        
      }

      .lower{
        padding-top: 20px;
        height: 80px;

      }

  .col-sm:hover{
    height: 150px;
    width:30% !important;

    background-color: #8EE4AF;
    cursor: pointer;
  }


    /*footer*/
footer{
position: fixed;
bottom:0;
width: 100%;
}
      /* The side navigation menu */
.sidebar {
  color: #186cc0;
  background-color: #f8f9fa ;
  overflow-x: hidden; /* Disable horizontal scroll */
  position: fixed;
  width: 200px;
  height: 100%;

}




.sidebar .sidequeries small{
  margin-left: 25%;

}

/*Side bar queries*/
.sidebar .sidequeries{
  color:#9294a5;
  width:90%;
  margin-left:5%;
  display: block;
  position: relative;
  top: 3%;
margin-top: 5px;
  padding: 2px;
  padding-right: 0;

}

.sidebar a{
  font-weight: 200%;
  display: block;
  color: #186cc0 ;
  position: relative;
  top: 10%;
  padding: 16px;
}
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color:#97a0f0;
  color: #ffffff;
}



/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}




  .sidebar .sidequeries small{
    position:relative;
    left:40%;

  }



}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }



  .sidebar .sidequeries small{
    position:relative;
    left:40%;

  }


}
