{% extends "blog/layout.html" %}

{% block content %}

        <!--Main Content-->


        <div class="mt-5 mb-5">
                <div class="row  mt-5 mx-auto itemsContainer text-center  ">
                  <div class="col-sm pt-1  ml-3 widthCom">
                        <strong class = "text-white">Phys1001</strong>
                        <hr style = "color : white;">
                        <div><strong class = "text-white text-center">Generic Description: </strong></div>
                        <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                  </div>
                  <div class="col-sm pt-1 widthCom">
                        <strong class = "text-white">Phys1001</strong>
                        <hr style = "color : white;">
                        <div><strong class = "text-white text-center">Generic Description: </strong></div>
                        <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                                   </div>
                  <div class="col-sm pt-1 widthCom">
                        <strong class = "text-white">Phys1001</strong>
                        <hr style = "color : white;">
                        <div><strong class = "text-white text-center">Generic Description: </strong></div>
                        <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                 
                  </div>
                  </div>

                  

                
            </div>

            <div class="mt-5 mb-5">
                        <div class="row  mt-5 mx-auto itemsContainer text-center  ">
                          <div class="col-sm pt-1  ml-3 ">
                                <strong class = "text-white">Phys1001</strong>
                                <hr style = "color : white;">
                                <div><strong class = "text-white text-center">Generic Description: </strong></div>
                                <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                          </div>
                          <div class="col-sm pt-1 ">
                                <strong class = "text-white">Phys1001</strong>
                                <hr style = "color : white;">
                                <div><strong class = "text-white text-center">Generic Description: </strong></div>
                                <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                                           </div>
                          <div class="col-sm pt-1 ">
                                <strong class = "text-white">Phys1001</strong>
                                <hr style = "color : white;">
                                <div><strong class = "text-white text-center">Generic Description: </strong></div>
                                <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                         
                          </div>
                          </div>
        
                          
        
                        
                    </div>


                    <div class="mt-5 mb-5">
                              <div class="row  mt-5 mx-auto itemsContainer text-center  ">
                                <div class="col-sm pt-1  ml-3 ">
                                      <strong class = "text-white">Phys1001</strong>
                                      <hr style = "color : white;">
                                      <div><strong class = "text-white text-center">Generic Description: </strong></div>
                                      <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                                </div>
                                <div class="col-sm pt-1 ">
                                      <strong class = "text-white">Phys1001</strong>
                                      <hr style = "color : white;">
                                      <div><strong class = "text-white text-center">Generic Description: </strong></div>
                                      <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                                                 </div>
                                <div class="col-sm pt-1 ">
                                      <strong class = "text-white">Phys1001</strong>
                                      <hr style = "color : white;">
                                      <div><strong class = "text-white text-center">Generic Description: </strong></div>
                                      <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                               
                                </div>
                                </div>
              
                                
              
                              
                          </div>

                          <div class="mt-5 mb-5">
                                    <div class="row  mt-5 mx-auto itemsContainer text-center  ">
                                      <div class="col-sm pt-1  ml-3 ">
                                            <strong class = "text-white">Phys1001</strong>
                                            <hr style = "color : white;">
                                            <div><strong class = "text-white text-center">Generic Description: </strong></div>
                                            <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                                      </div>
                                      <div class="col-sm pt-1 ">
                                            <strong class = "text-white">Phys1001</strong>
                                            <hr style = "color : white;">
                                            <div><strong class = "text-white text-center">Generic Description: </strong></div>
                                            <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                                                       </div>
                                      <div class="col-sm pt-1 ">
                                            <strong class = "text-white">Phys1001</strong>
                                            <hr style = "color : white;">
                                            <div><strong class = "text-white text-center">Generic Description: </strong></div>
                                            <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                                     
                                      </div>
                                      </div>
                    
                                      
                    
                                    
                                </div>

                                <div class="mt-5 mb-5">
                                          <div class="row   mt-5 mx-auto itemsContainer text-center  ">
                                            <div class="col-sm pt-1  ml-3 ">
                                                  <strong class = "text-white">Phys1001</strong>
                                                  <hr style = "color : white;">
                                                  <div><strong class = "text-white text-center">Generic Description: </strong></div>
                                                  <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                                            </div>
                                            <div class="col-sm pt-1 ">
                                                  <strong class = "text-white">Phys1001</strong>
                                                  <hr style = "color : white;">
                                                  <div><strong class = "text-white text-center">Generic Description: </strong></div>
                                                  <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                                                             </div>
                                            <div class="col-sm pt-1 ">
                                                  <strong class = "text-white">Phys1001</strong>
                                                  <hr style = "color : white;">
                                                  <div><strong class = "text-white text-center">Generic Description: </strong></div>
                                                  <small class = "text-white mt-2"> Lorem ipsum dolor sit amet consectetur adispacatious emiso liem satia.</small> 
                                           
                                            </div>
                                            </div>
                          
                                            
                          
                                          
                                      </div>

            

             

        <!--/Main Content-->

{% endblock %}




