
<form enctype="multipart/form-data" method="POST" class="formSignup">
    <div class="form-group"></div> 
    <div class="form-group">
        
        <div class="form-group">
            
            
            <div id="div_id_identity" class="form-check">
                
                
                <label for="id_identity" class="form-check-label">
                    
                    <input type="checkbox" name="identity" id="id_identity" class="checkboxinput form-check-input">
    Identity
</label></div></div> <div id="div_id_pic" class="form-group"><label for="id_pic" class="col-form-label  requiredField">
Pic<span class="asteriskField">*</span></label> <div>
    Currently: <a href="/media/download.png">download.png</a><br>
Change:
<input type="file" name = "pic" class="custom-file-input" id="inputGroupFile01"
      aria-describedby="inputGroupFileAddon01">
</div></div></div>

<button type="submit" class="mt-3 btn btn-primary">Update</button></form>
