
{% extends 'blog/layout.html' %}

{%block modal%}
  <!--Modal Definitions-->
  <!--Modal Rate Ad-->


  <div class="modal fade" id="RateModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary text-center">Create an Ad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
<label for="RateAd">How many stars would you rate this ad?</label>
<input type="number" name="quantity" id="RateAd" min="0" max="10" placeholder = "0-10" class = "form-control">


  </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Create</button>
        </div>

        </div>
      </div>
    </div>



  <!--/Modal Rate Ad-->

  <!--Modal Create Ad-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary text-center">Create an Ad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


    <form class = "mx-auto">
<div class = "form-group text-center pt-1">
  <label for = "AdvertPremise">What subject are you advertising for?</label>
  <select class="form-control" id="FormControlSelect1">
      <option value=""></option>
      <option>Physics</option>
      <option>Chemistry</option>
      <option>Biology</option>
      <option>Mathematics</option>
      <option>Engineering</option>

    </select>
</div>

<div class = "form-group text-center pt-1 ">
    <label for = "FormControlSelect1">Will you offer assignment help?</label>
    
    <select class="form-control" id="FormControlSelect1">
        <option value=""></option>
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>


    <div class = "form-group text-center pt-1">
        <label for = "AdvertExtraOption">Is this subject is relevant to a university unit?</label>
        <select class="form-control" id="AdvertExtraOption" onChange = "ChangeContent()">
            <option value=""></option>
            <option value = "1">Yes</option>
            <option value = "2">No</option>
          </select>
      </div>
<div class="form-group text-center pt-1" id = "AdExtra"></div>

  </form>

  </div>



        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Create</button>
        </div>

        </div>
      </div>
    </div>
  
  
  <!--/Modal Create Ad-->

  
















  <!--/Modal Definitions-->
{% endblock %}


           


{% block content %}
            <!--Right side Bar-->
  

    <div class="sidebar pt-5 ">
        <v-card>

      <hr>

    <h3  class ="text-center"> View Top Posts <h3>

    <hr>
     <!-- Button trigger modal -->

      <div class ="text-center">
      <v-card-title>
    <v-btn block  flat color="indigo lighten-3" dark>Highest Rated</v-btn>
      </v-card-title>
      <v-card-title>
        <v-btn block flat color="indigo lighten-3" dark>Most Affordable</v-btn>
      </v-card-title>
        <v-card-title>
    <v-btn block flat color="indigo lighten-3" dark>Verified Users</v-btn>
    </v-card-title>
  </v-card>
  </div>
    <hr>









        <!--Create an Ad-->
        {% if  user.is_authenticated %}

    <a href="#" data-toggle="modal" data-target="#exampleModal"><small>Create an Ad</small></a>
{% endif %}
        <!--/Create an Ad-->

  </div>
              <!--/Right side Bar-->

      



        <!--Main Content-->
        
        <v-container   grid-list-xl  >
       {% for n in range %}
       
                        

       <v-flex mt-5 xs12 offset-sm3  offset-md3 offset-lg2 sm-6 md-6 lg-10  app  >
        <v-card light color="grey lighten-5" md-5 fluid>
          <v-flex pt-3 text-xs-center>
          <v-card-text  class = "display-1 font-weight-light ">
            Juliet Lee
            <v-divider ></v-divider>
               </v-card-text>
               <v-layout  row justify-space-between  align-end >
                 
                  <v-flex xs5 offset-xs1  grow  class = "photovue">   
                    
                                      {% load static %}    
                  <v-img src="{% static 'blog/Juliet.jpg' %}"
                  contain ></v-img >
                
               </v-flex>

               <v-flex xs6   pb-5 class = "  font-weight-light subheading centerInfo" grow wrap>
                 <div>
                   <v-card fluid>
                  <div class = "pb-2 pt-3">
                      <div class = "pb-2" ><strong>I will help you with...</strong></div>
                    <div>3rd year of Data Science</div>
                  </div>
                    <div class = "pb-2 pt-3 ">
                    <div class = "pb-2"><strong>Number:</strong></div>
                    <div>0422676860</div>
                    </div>
                    <div class = "pb-2 pt-3">
                      <div class = "pb-2"><strong>Price:</strong></div>
                      <div >300 /hr</div>
                      </div>
                      <v-btn   data-toggle="modal" data-target="#RateModal" block color="warning">Rate</v-btn>

                        </div>
                      </v-card>
                      <v-card>
                          <v-btn href = "/profilepage" class ="nodecor" block color="info">View Profile</v-btn>
                        </v-card> 
                        
               </v-flex>
              </v-layout>
              
              </v-flex>
             
        </v-card>
        
        
</v-flex>
                {% endfor %}            

                   
      </v-container>


                            
                                                        


                            
            
                              





                            

             

        <!--/Main Content-->
        
        {% endblock %}





